{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe - J'Trouve mon commerçant{% endblock %}
{% block menu %}{% endblock %}
{% block body %}

<div class="container-account-modif">
    <h1 class="title-account"><img src="/images/pen.png" width="35px " alt="icon-modification"> &ensp;Modifier mon mot de passe<a class="nav-account-back" href="{{ path('account')}}">Retour</a></h1>
<p class="obligatoire">* champs obligatoires<br><br></p>
    {% if notification  %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

      {{ form_start(form) }}
    <div class="form-error">{{ form_errors(form) }}</div>

    <div class="mdp-block">
        <div class="mdp-block-none">
            {{ form_row(form.email, {'label': 'E-mail'}, {'attr': {'class': 'email'}}) }}
            {{ form_row(form.firstname, {'label': 'Prénom'}, {'attr': {'class': 'firstname'}}) }}
            {{ form_row(form.lastname, {'label': 'Nom'}, {'attr': {'class': 'lastname'}}) }}
        </div>

       <div>
        {{ form_row(form.old_password, {'label': 'Mot de passe actuel *'}, {'attr': {'class': 'password1'}}) }}
        {{ form_row(form.new_password.first, {'label': 'Nouveau mot de passe *'}, {'attr': {'class': 'password1'}}) }}
        {{ form_row(form.new_password.second, {'label': 'Confirmez votre nouveau mot de passe *'}, {'attr': {'class': 'password2'}}) }}
       </div>

    </div>

   <button class="btn-modif" type="submit">Mettre à jour</button>
    {{ form_end(form) }}
</div> 



{% endblock %}