{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block menu %}{% endblock %}
{% block body %}

    <div class="container-account">
        <h1 class="title-account"><img src="/images/pen.png" width="40px "alt="icon-modification"> &ensp;Modifier mon mot de passe<a class="nav-account-link" href="{{ path('account') }}">Retourner au compte</a></h1>
   
    {% if notification  %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

<div class="password">
        {{ form_start(form) }}
        <div class="form-error">{{ form_errors(form) }}</div>
        {{ form_label(form.email, 'e-mail :') }} {{ form_widget(form.email) }}
        {{ form_label(form.firstname, 'Prénom :') }}{{ form_widget(form.firstname) }}
        {{ form_label(form.lastname, 'Nom :') }}  {{ form_widget(form.lastname) }} <br>
        {{ form_label(form.old_password, 'Ancien mot de passe :') }}{{ form_widget(form.old_password) }} 
        {{ form_end(form) }} 
       
    </div>
</div>


                         
{% endblock %}