{% extends 'base.html.twig' %}

{% block title %}Mes commerces - J'Trouve mon commerçant{% endblock %}
{% block menu %}{% endblock %}
{% block body %}

<div class="container-account">

    <p class="paraph-account">C'est dans cet espace que vous allez pouvoir gérer vos commerces.</p> 



    <h1 class="title-account"><img src="/images/store.png" width="50px "alt="icon-store"> &ensp;Mes commerces</h1>
     <a class="title-account nav-account-link" href="{{ path('account_store_add')}}" class="btn btn-info btn-sm float-right">Ajouter un commerce</a> <a class="title-account nav-account-link" href="{{ path('account')}}">Retour</a>
   

       {% if app.user.stores|length == 0 %}
     <p class="paraph-account">Vous n'avez pas encore ajouté de commerce dans votre compte. Veuillez <a class="nav-account-here" href="{{ path('account_store_add')}}">cliquer ici</a></p>
    {% else %}
    
    <div class="container-card">
        {% for stores in  app.user.stores %}
        <div class="card">
                <div class="card-content">
                    <h5 class="card-title">{{ stores.name }}</h5><br>
                    <p class="card-text">{{ stores.address }}</p>
                </div>
                <div class="card-link">
                    <a class="card-link-account" href="{{ path('account_store_edit', { 'id' : stores.id }) }}">Modifier</a>  
                    <a class="card-link-account" href="{{ path('account_store_delete', { 'id' : stores.id }) }}">Supprimer</a>  
                    <a class="card-link-account" href="{{ path('account_store_show', { 'id' : stores.id }) }}">Afficher</a></p>
                </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}