{% extends 'base.html.twig' %}
{% block title %} Fiche du commerce {% endblock %}
{% block menu %}{% endblock %}
{% block body %}

<section class="container-store-show">

  <div class="container-picture-show-desktop"> <img class="store-picture" src="{{ asset('uploads/' ~ store.picture ) }}" width="650px" />
  <img class="green-arrow-desktop" src="/images/green-arrow.png"  alt="bubble-arrow"  /></div>

    <div class="container-picture-show-mobile"> <img class="store-picture" src="{{ asset('uploads/' ~ store.picture ) }}" width="350px" />
  <img class="green-arrow-mobile" src="/images/green-arrow-mobile.png"  alt="bubble-arrow"  /></div>
  
  <aside class="store-show-information">
    <h1 class="title-store"><strong>{{store.name}}</strong><a class="nav-account-back"
        href="{{ path('home') }}">Retour</a></h1>

      <h2 class="subtitle-store"><strong>{{store.storeActivity}}</strong><br></h2>

        <p class="adress-store">{{ store.roadNumber }}, {{store.address}}</p>
        <p class="adress-store">{{store.postalcode}} {{store.city}}</p>
        <p class="adress-store">Tel : 0{{store.phone}}</p>
        <p class="adress-store">Site internet : <br>{{store.website}}</p>
        <a class="adress-store-email" href="mailto:">{{store.email}}</a>

  <div class="store-show-opening">
    <h2 class="subtitle-store"><strong>Jours d'ouverture</strong> </h2>

        {% for days in store.OpenDays %}
        <p class="days-hours">
          {{ days }}
        </p>
        {% endfor %}
        <h2 class="subtitle-store"><strong>Horaires d'ouverture</strong> </h2>
        <p class="days-hours">
          {{ store.openHours }}
        </p>
  </div>

  <div class="store-show-information-payment">
    <h2 class="subtitle-store"><strong>Mode de paiement accepté</strong> </h2>

      {% for payments in store.InformationPayment %}
      <p class="mode-payment">
        {{payments}}
      </p>
      {% endfor %}

  </div>

  <div class="store-show-commercial-service">
    <h2 class="subtitle-store"><strong>Service commercial proposé</strong> </h2>

      {% for services in store.CommercialService %}
      <p class="service">
        {{services}}
      </p>
      {% endfor %}
  </div>
    <h2 class="subtitle-store"><strong>Description du commerce</strong> </h2>
  <div class="store-show-description">{{store.description}}</div>
  </aside>
</section>
{% endblock %}