{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block menu %}{% endblock %}

{% block body %}

<div class="container-account">
 <h1 class="title-account">Inscription</h1>

                {{ form_start(form) }}

                {{ form_errors(form) }}
<br>

{{ form_row(form.firstname) }} 
{{ form_row(form.lastname) }}
{{ form_row(form.email) }}
{{ form_row(form.password) }}
{{ form_end(form) }}
 </div>
{% endblock %}
