{% extends 'base.html.twig' %}

{% block title %}Inscription - J'Trouve mon commerçant{% endblock %}
{% block menu_register %} active {% endblock %}
{% block menu %}{% endblock %}


{% block body %}

<div class="container-account-reg">
   <p class="paraph-hook-reg">Si vous êtes commerçant de proximité et que vous voulez prendre part à notre aventure...</p>
   <p class="paraph-hook-reg">Commençez par créez votre compte !</p>
   <img class="icon-picture-reg" src="/images/register.png" width="50px" alt="icon-inscription">
   <h1 class="title-account">Inscription</h1>



   <div class="form-group-reg">
      {{ form_start(form) }}
      <div class="form-error">{{ form_errors(form) }}</div>

      {{ form_row(form.firstname, {'label': 'Prénom '}, {'attr': {'class': 'firstname'}}) }}
      {{ form_row(form.lastname, {'label': 'Nom '}, {'attr': {'class': 'lastname'}}) }}
      {{ form_row(form.email, {'label': 'E-mail '}, {'attr': {'class': 'email'}}) }}

      {{ form_row(form.password.first, {'label': 'Mot de passe '}, {'attr': {'class': 'password1'}}) }}

      {{ form_row(form.password.second) }}
   
   
   </div>
   <button class="btn-reg" type="submit">S'inscrire</button>
 {{ form_end(form) }}
</div>
     

{% endblock %}