{% extends 'base.html.twig' %}

{% block title %}Inscription - J'Trouve mon commerçant{% endblock %}
{% block menu %}{% endblock %}

{% block body %}

        <div class="container-account-login">
         <img class="icon-picture-register" src="/images/modification.png" width="50px" alt="icon-inscription">
         <h1 class="title-account">Inscription&emsp;</h1>

<br><br>

             {{ form_start(form) }}
            <div class="form-error">{{ form_errors(form) }}</div>

            
            {{ form_label(form.firstname, 'Prénom :') }}{{ form_widget(form.firstname) }} 
            {{ form_label(form.lastname, 'Nom :') }}{{ form_widget(form.lastname) }} 
            {{ form_label(form.email, 'e-mail :') }}{{ form_widget(form.email) }} 
            {{ form_end(form) }} 
  </div>

{% endblock %}
