<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}J'Trouve Mon Commerçant{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}"/>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header class="header-nav">
            <!--Block logo-->
            <div class="logo">
            <!--Logo for the sreen desktop-->
            <a href="{{ path('home') }}"class="logo-link">
            <img class="logo-web" src="../images/logo_jtmc_v2.png" alt="logo_jtmc">
            <!--Small logo for the sreen mobile-->
            <img class="logo-mobile" src="../images/logo_jtmc_small_v2.png" alt="logo_jtmc">
            </a>
            <a class ="title-link" href="{{ path('home') }}"><h1 class="title">j'trouve mon commerçant</h1></a>
            </div>

            <div class="slogan-nav">
            <!--Block slogan-->
            <p class="slogan">Service de géolocalisation pour retrouver en quelques cliques votre commerce local !</p>
            
            <!--Block navigation-->
            <nav class="header-nav-top">
            <ul class="header-nav-top-list">
                <li class="header-nav-top-item">
                <a class="active header-nav-top-link" href="{{ path('home') }}">accueil</a>
                </li>
                <li class="header-nav-top-item">
                <a class="header-nav-top-link" href="#" >ville</a>
                </li>
                <li class="header-nav-top-item">
                <a class="header-nav-top-link" href="#">connection</a>
            </li>
            <li class="header-nav-top-item">
                <a class="header-nav-top-link" href="#">inscription</a>
            </li>
            </ul>
            </nav> 
            </div>
        </header>

        <main id="wrapper">
            <!--Block search menu left responsive-->
            <button id="hamburger-button">&#9776;</button>
            <div id="hamburger-sidebar">
            <div id="hamburger-sidebar-header"></div>
             <div id="hamburger-sidebar-body"></div>
            </div>
            <div id="hamburger-overlay"></div>    

        {% block body %}{% endblock %}
        </main>

        <footer class="footer-nav-bottom">
            <a class="footer-nav-bottom-link" href="{{ path('legal-mention') }}">Mentions légales</a>
            <a class="footer-nav-bottom-link" href="mailto:team@jtmc.fr">Contactez-nous</a>
            <p class="footer-nav-made">JTMC made with &#169; by <i>#teamsymfony</i></p>
        </footer>

        <script src="{{ asset('js/menu-burger.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
        
    </body>
</html>