<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}J'Trouve Mon Commerçant{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/reset.css') }}" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Oswald&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  {% block stylesheets %}
  {% endblock %}
</head>

<body>
  <header class="header-nav">

    <!--Block logo-->
    <div class="logo">
      <!--Logo for the sreen desktop-->
      <a class="logo-link" href="{{ path('home') }}">
        <img class="logo-web" src="/images/logo_jtmc_v2.png" width="120" alt="logo_jtmc">

        <!--Small logo for the screen mobile-->
        <img class="logo-mobile" src="/images/logo_jtmc_small_v2.png" width="100px" alt="logo_jtmc">
      </a>
      <a class="title-link" href="{{ path('home') }}">
        <h1 class="title"> J' Trouve mon commerçant</h1>
      </a>
    </div>

    <div class="slogan-nav">
      <!--Block slogan-->
      <p class="slogan">Retrouvez en quelques clics vos commerces locaux !</p>

      <!--Block navigation-->
      <nav class="header-nav-top">
        <ul class="header-nav-top-list">

          <a href="{{ path('home') }}"><img src="/images/home.png" width="30px " alt="icon-home"></a>
          <li class="header-nav-top-item">
            <a class="header-nav-top-link {% block menu_home %} {% endblock %}" href="{{ path('home') }}">accueil</a>
          </li>

          {% if app.user %}
          <!--If user connected else display button my account and button logount-->
          <a href="{{ path('app_login')}}"><img src="/images/account.png" width="30px " alt="icon-account"></a>
          <li class="header-nav-top-item">
            <a class="header-nav-top-link {% block menu_account %} {% endblock %}" href="{{ path('app_login')}}">Mon compte</a>
          </li>

          <a href="{{ path('app_logout')}}"><img src="/images/logout.png" width="30px " alt="icon-logout"></a>
          <li class="header-nav-top-item">
            <a class="header-nav-top-link" href="{{ path('app_logout')}}">Déconnexion</a>
          </li>

          {% else %}
           <!--else display button login and register-->
          <a href="{{ path('app_login')}}"><img src="/images/logout.png" width="30px " alt="icon-login"></a>
          <li class="header-nav-top-item">
            <a class="header-nav-top-link {% block menu_login %} {% endblock %}" href="{{ path('app_login')}}">Connexion</a>
          </li>

          <a href="{{ path('register')}}"><img id="alert-register" src="/images/register.png" width="25px " alt="icon-inscription"></a>
          <li class="header-nav-top-item">
            <a class="header-nav-top-link {% block menu_register %} {% endblock %}" href="{{ path('register')}}">Inscription</a>
          </li>

          {% endif %}
          <!--<a href="{{ path('store_index')}}"><img src="/images/store.png" width="35px "alt="icon-store"></a>
          <li class="header-nav-top-item">
          <a class="header-nav-top-link" href="{{ path('store_index')}}">Nos commerçants</a>
          </li>-->

          {% if is_granted ('ROLE_ADMIN') %}
          <!--if user has a role admin else display button administration this control access is determined in file security.yaml-->
          <a href="/admin" target="_blank"><img src="/images/admin.png" width="30px " alt="icon-administration"></a>
          <li class="header-nav-top-item">
            <a class="header-nav-top-link-admin" href="/admin" target="_blank">Administration</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

  </header>

{# display every flash message available #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


  {% block menu %}


  <main class="wrapper">
   
    <div class="hamburger">

      <!--Respnsive Button-->
      <button class="hamburger-button">&#9776;</button>
      <!--Search Engine-->
        <div class="search-engine">
              <form class="form-search-engine" action="{{path('home')}}" method="post">
              
                <div class="form-search-engine-city">
                  <label for="city" class="search-city">Quelle ville ?</label><br>
                  <input type="text" name="city" placeholder="Code Postal / Ville" />
                  <button class="submit"> Par ici ! </button><br>
                  <a href="{{ path('home',{reset: "1"})}}" class="menu-search-link">
                  <img src="https://img.icons8.com/windows/32/000000/cancel.png" width="25px" alt="shop-icon" />&ensp; Supprimer le filtre</a>
                </div>
              </form>
        </div>

      <!--Select filters-->
          <div class="hamburger-sidebar sidebar">
            <div class="hamburger-sidebar-header"></div>
            <div class="hamburger-sidebar-body"></div>
          </div>

            <div class="hamburger-overlay overlay"></div>

          <div class="hamburger-content">
            <ul class="menu-search-list">Quel commerce ?
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "boucherie-charcuterie"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/windows/32/000000/year-of-pig.png" width="25px" alt="shop-icon" />&ensp;
                  Boucherie/Charcuterie</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "boulangerie"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/windows/32/000000/bread.png" width="25px" alt="shop-icon" />&ensp;
                  Boulangerie</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "cafe-bar-tabac"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/ios-filled/50/000000/smoking.png" width="25px" alt="shop-icon" />&ensp;
                  Café-Bar/tabac</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "coiffeur"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/windows/32/000000/barbershop.png" width="25px" alt="shop-icon" />&ensp;
                  Coiffeur</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "epicerie"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/windows/32/000000/shopping-basket.png" width="25px" alt="shop-icon" />&ensp;
                  Epicerie</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "fleuriste"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/ios/50/000000/bridal-bouquet.png" width="25px" alt="shop-icon" />&ensp;
                  Fleuriste</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "librairie-presse"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/windows/32/000000/books--v1.png" width='25px' alt="shop-icon" />&ensp;
                  Librairie/Presse</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "pharmacie"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/pastel-glyph/64/000000/doctors-bag--v2.png" width="25px"
                    alt="shop-icon" />&ensp; Pharmacie</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "restaurant"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/pastel-glyph/64/000000/restaurant--v2.png" width='25px'
                    alt="shop-icon" />&ensp; Restaurant</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{activity: "autre"})}}" class="menu-search-link"><img
                    src="https://img.icons8.com/pastel-glyph/64/000000/market--v2.png" width='25px' alt="shop-icon" />&ensp;
                  Autre</a>
              </li>
            </ul>
            <ul class="menu-search-list">Quel service commercial ?
              <li class="menu-search-item">
                <a href="{{ path('home',{service: "click-and-collect"})}}" class="menu-search-link"><img 
                src="/images/click-and-collect.png" alt="commercial-icon"width='25px'/>&ensp; click and collect</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{service: "livraison-a-domicile"})}}" class="menu-search-link"><img 
                src="https://img.icons8.com/windows/32/000000/deliver-food.png" width='25px'/>&ensp; livraison à domicile</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{service: "mondial-relais"})}}" class="menu-search-link"><img 
                src="/images/mondial-relais.png" alt="commercial-icon"width='25px'/>&ensp; mondial relais </a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{service: "phenix"})}}" class="menu-search-link"><img 
                src="/images/phenix.png" alt="commercial-icon"width='25px'/>&ensp; phenix</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{service: "relais-colis"})}}" class="menu-search-link"><img 
                src="/images/relais-colis.png" alt="commercial-icon"width='25px'/>&ensp; relais colis</a>
              </li>
              <li class="menu-search-item">
                <a href="{{ path('home',{service: "too-good-to-go"})}}" class="menu-search-link"><img 
                src="../images/tgtg.png" alt="commercial-icon"width='25px'/>&ensp; too good to go</a>
              </li>
            </ul>
          </div>
          
      </div>

    {% endblock %}

    {% block body %}{% endblock %}
  </main>

  {# {% block promotion %}
    <div class="promotion"><img class="promo" src="/images/promo-picture.png" alt="promo-picture"></div>
  {% endblock %} #}
  
  <footer>
    <div class="footer-nav">
      <a class="footer-nav-link" href="{{ path('legal_mention')}}">Mentions légales</a>
      <a class="footer-nav-link" href="mailto:jtrouvemoncommercant@gmail.com">Contactez-nous</a>
      <a class="footer-nav-link" href="{{ path('team_jtmc')}}">Team JTMC</a>
      <p class="footer-nav-made">JTMC made with &#169; by <i>#teamsymfony</i></p>
    </div>
  </footer>

  {# <script src="js/event-register.js"></script> #}
  <script src="{{ asset('js/hamburger-button.js') }}"></script>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
  <script src="js/map.js"></script>
  {% block javascripts %}{% endblock %}

</body>

</html>
