{% extends 'base.html.twig' %}

{% block title %}La liste des commerces{% endblock %}

{% block body %}
    <h1>La liste des commerces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Activité du magasin</th>
                <th>Photo du magasin</th>
                <th>Nom</th>
                <th>Numéro de siret</th>
                <th>Numéro de la voie</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>E-mail</th>
                <th>Téléphone</th>
                <th>Site internet</th>
                <th>Jour d'ouverture</th>
                <th>Horraire d'ouverture</th>
                <th>Descrire votre activité</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.storeActivity }}</td>
                <td>{% if store.picture %}
                    <img src="{{ asset('uploads/' ~ store.picture ) }}" width="150px" />
                    {% endif %}</td>
                <td>{{ store.name }}</td>
                <td>{{ store.siret }}</td>
                <td>{{ store.roadNumber }}</td>
                <td>{{ store.address }}</td>
                <td>{{ store.postalCode }}</td>
                <td>{{ store.city }}</td>
                <td>{{ store.email }}</td>
                <td>{{ store.phone }}</td>
                <td>{{ store.website }}</td>
                <td>{{ store.openDays ? store.openDays|json_encode : '' }}</td>
                <td>{{ store.openHours }}</td>
                <td>{{ store.description }}</td>
                <td>
                <a href="{{ path('store_read', {'id': store.id}) }}">Afficher le commerce</a>
                <a href="{{ path('store_edit', {'id': store.id}) }}">Modifier le commerce</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href= "{{ path('store_create') }}">Créer un commerce</a> 
{% endblock %}
